<a href="https://colab.research.google.com/github/kirti0691/python/blob/master/Filtering_and_Sorting_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex1 - Filtering and Sorting Data
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Step 1. Import the necessary libraries

In [0]:
import pandas as pd

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called chipo

In [0]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [4]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price]

# reassign the column with the cleaned prices
chipo.item_price = prices

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

Step 5. What is the price of each item?¶

In [6]:
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
#chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# select only the products with quantity equals to 1
# chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

Step 6. Sort by the name of the item

In [7]:
chipo.sort_values(by='item_name')

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
...        ...  ...         ...
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

Step 7. What was the quantity of the most expensive item ordered?

In [8]:
chipo.sort_values(by='item_price',ascending=False).head(1).quantity

3598    15
Name: quantity, dtype: int64

Step 8. How many times were a Veggie Salad Bowl ordered?

In [10]:
len(chipo[chipo.item_name =='Veggie Salad Bowl'])

18

tep 9. How many times people orderd more than one Canned Soda?

In [12]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity >1)])

20