<a href="https://colab.research.google.com/github/kirti0691/python/blob/master/Know_About_Your_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex2 - Getting and Knowing your Data
Check out Chipotle Exercises Video Tutorial to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Step 1. Import the necessary libraries

In [0]:
import pandas as pd;
import numpy as np;


Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called chipo.

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [3]:

chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

Step 5. What is the number of observations in the dataset?

In [6]:
chipo.shape[0]

4622

Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
c = chipo.groupby('item_name').sum()

#c.head()
c=c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 10. For the most-ordered item, how many items were ordered?¶

In [26]:
c = chipo.groupby('item_name').sum()

#c.head()
c=c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 11. What was the most ordered item in the choice_description column?

In [24]:
c = chipo.groupby('choice_description').sum()

c=c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

Step 12. How many items were orderd in total?

In [28]:
total_item = chipo['quantity'].sum()
total_item

4972

Step 13. Turn the item price into a float

In [29]:
chipo.item_price.dtype

dtype('O')

In [33]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#chipo.item_price.dtype

TypeError: ignored

Step 14. How much was the revenue for the period in the dataset?

In [36]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
print('revenue generated in dollars..'+str(np.round(revenue,2)))

revenue generated in dollars..39237.02

Step 15. How many orders were made in the period?

In [38]:
total_orders = chipo.order_id.value_counts().count()
total_orders

1834

Step 16. What is the average revenue amount per order?

In [39]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654


Step 17. How many different items are sold?

In [40]:
chipo['item_name'].value_counts().count()

50